* {
    transition: all 300ms ease-in-out;
}

#nfd{
    display: none;
}

.dev:checked ~ #nfd{
    display: initial;
}

.ctrls {
    align-items: center;
}

section {
    align-content: center;
}

.music {
    align-items: center;
}

a {
    text-decoration: underline;
    align-items: center;
}

header a{
    margin-bottom: 2px;
    text-decoration: none;
}

header div{
    word-spacing: 20px;
    align-content: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    /* padding: 5px 10px; */
}

.day:hover {
    background: rgb(12, 13, 28);
}

.day.today {
    background-color: #002fff;
    color: #fff;
    text-align: center;
}

.read {
    color: rgb(201, 200, 200);
}

.period {
    color: rgb(17, 205, 133);
}

l:hover {
    background: #384142;
    color: #fff;
}

.days {
    grid-template-columns: repeat(8, 1fr);
}

footer p a:hover, header a:hover {
    margin-left: 10px;
    border-bottom: 1px solid;
    color: white;
}

@media (max-width: 40rem) {
    header a{
        background: #b9f8cf;
        padding-left: 10px;
    }
    header div{
        word-spacing: 10px;
    }

    main{
        display: block;
        overflow: hidden;
    }

    .head{
        text-align: center;
    }

    .head a{
        background: transparent;
        color: #002fff;
        text-decoration: underline;
        padding: 0;
        margin: 0;
    }

    .day{
        padding: 5px 0px;
    }

    #check:checked ~ div{
        display: initial;
        display: flex;
        flex-direction: column;
    }
    footer div p{
        word-spacing: 20px;
    }
}